/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
.container {
    max-width: 1000px;
    margin: 0 auto;
    /* Fonts */
    font-family: 'Fredoka', sans-serif;
}

img {
    height: 100px;
    float: left;
}

.info-card span {
    font-size: 15px;
    color: white;
    display: inline-block;
    margin-bottom: 8px;
}

#email {
    text-decoration: none;
    color: lightskyblue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.margin-right {
    margin-right: 30px;
}

.margin-left {
    margin-left: 30px;
}

.first-3-cards {
    margin-bottom: 50px;
}

/* HEADER */
header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(240, 57, 225);
}

/* MAIN */
section>p {
    margin-bottom: 50px;
    text-align: center;
}

.card {
    height: 100px;
    width: 313px;
    background-color: darkblue;
    float: left;
}

.info-card {
    float: left;
    font-size: 15px;
    padding: 10px;
}